@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  @font-face {
    font-family: "Raleway";
    font-style: normal;
  }

  .layout {
    max-width: 68.75rem;
    width: 90%;
    @apply mx-auto;
  }
}

html {
  scroll-behaviour: smooth;
}

body {
  background: var(--background);
  font-family: "Raleway";
}
